body {
    background-color: lightslategray;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 18px;

}
@media (orientation: portrait) {}
@media (orientation: landscape) {}
a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;

}
a:hover {
    color: orange;
}
.headerbild {
    width: 100%;
}
.header {
    text-align: right;
    background-color: black;
    padding: 20px;
}
h1 {
    text-align: left;
}
.footer {
    text-align: right;
    padding: 20px;
    background-color: black;
}

.img-box {
    float: left;
    height: 300px;
    width: 500px;

}
.img-box2 {
    float: right;
    height: 300px;
    width: 500px;

}

article {
    background-color: black;
    height: 300px;
}
section {
    background-color: black;
    height: 300px;
    margin: 5px 0;

}
.text1 {
    padding: 10px;
}
.text2 {
    padding: 10px;
}
